body {
  padding-top: 50px;
  background-color: #1a1a1a;
  color: #fff;
}

.card {
  background-color: #2a2a2a;
  border: none;
  margin-bottom: 20px;
}

.card-header {
  background-color: #333;
  border-bottom: 1px solid #444;
}

.card-body {
  padding: 15px;
}

h1,
h5 {
  color: #ffcc00;
}

p.lead,
.form-label,
.btn-primary,
.text-primary {
  color: #ffcc00;
}

.btn-primary {
  background-color: #ffcc00;
  border-color: #ffcc00;
}

.btn-primary:hover {
  background-color: #e6b800;
  border-color: #e6b800;
}

.spinner-border.text-primary {
  color: #ffcc00;
}

audio {
  background-color: #333;
  color: #ffcc00;
}
